header {
  background-color: var(--background);
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  animation-name: scale-navbar;
  animation-duration: 1.2s;
}

@keyframes scale-navbar {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

header > h1 {
  font-size: 28px;
  color: var(--main);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right: 20px;
  margin-bottom: 0;
}

@keyframes rotateme {
  from {
    font-size: 28px;
  }
  to {
    font-size: 16px;
  }
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(173, 173, 173), 0 0 82px var(--main), 0 0 92px var(--text),
    0 0 102px var(--text), 0 0 151px var(--text);
  animation-name: rotateme; /* Corrected animation name */
  animation-duration: 0.75s;
  animation-delay: 0.5s;
}

@media only screen and (max-width: 768px) {
  header {
    display: block;
    padding-inline: 1.5em;
  }
  header > h1 {
    display: none;
    width: 0;
  }

  nav ul {
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  nav a {
    font-size: 14px;
  }
}
