body {
  background-color: red;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.form-section {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
