body {
  background-color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #e0cb67;
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.form-section {
  width: 100%;
  max-width: 750px;
  margin: auto;
  display: flex;
}

.form-section .title {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.form-section .container {
  background-color: #252525;
  border-radius: 25px;
  padding: 20px 25px;
  -moz-box-shadow: 0 0 5px #e0cb67;
  -webkit-box-shadow: 0 0 5px #e0cb67;
  box-shadow: 0 0 5px #e0cb67;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form button {
  background-color: #e7cd49;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #11100b;
  color: #e7cd49;
}
